@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

html
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  margin: auto;
  background-color: #FFFAED;
  background: url("assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: auto;
  width: auto;
}

h1 {
  font-style: bold;
  color: #85C1E9;
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  color: #FFBBBB;
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

p {
  width: 50%;
  max-width: 75%;
  font-weight: 500;
  padding: 0px;
  padding-left: 25%;
  padding-bottom: 20px;
  line-height: 150%;
}

p.mid {
  padding-left: 0%;
  text-align: center;
  margin: auto;
}

a {
  color: #FFC0CB;
}

bg {

}
